<f:layout name="Master" />

<f:section name="content">
	<f:form action="stepOne">
		<table id="importer">
			<tr>
				<th>Start</th>
			</tr>
			<tr class="instructions">
				<td>Please note the following</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li>Importer let's you import data by mapping database table attributes to model properties.</li>
						<li>So far, Importer works only with MySQL databases.</li>
						<li>The model you want to use needs to be accessible via a repository.</li>
						<li>When you run the same import twice, you will end up with duplicates.</li>
						<li>The code is untested and only a prototype.</li>
					</ul>
				</td>
			</tr>
		</table>
		<div id="footer">
			<f:form.submit value="Start" />
		</div>
	</f:form>
</f:section>